/*@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,100,100italic,300,300ita%E2%80%8C%E2%80%8Blic,400italic,500,500italic,700,700italic,900italic,900);*/
@font-face
{
    font-family: SanFrancisco;
    src: url('./fonts/SF-UI-Display-Ultralight.eot');
    src: url('./fonts/SF-UI-Display-Ultralight.eot?#iefix') format('embedded-opentype'), url('./fonts/SF-UI-Display-Ultralight.woff') format('woff'), url('./fonts/SF-UI-Display-Ultralight.ttf') format('truetype'), url('./fonts/SF-UI-Display-Ultralight.svg') format('svg');
}
@font-face {
    font-family: brandon;
    src: url('./fonts/brandon_reg.eot');
    src: url('./fonts/brandon_reg.eot?#iefix') format('embedded-opentype'), url('./fonts/brandon_reg.woff') format('woff'), url('./fonts/brandon_reg.ttf') format('truetype'), url('./fonts/brandon_reg.svg') format('svg');
}
@font-face {
    font-family: VagRounded;
    src: url('./fonts/VAGRoundedStd-Black.eot');
    src: url('./fonts/VAGRoundedStd-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/VAGRoundedStd-Black.woff') format('woff'), url('./fonts/VAGRoundedStd-Black.ttf') format('truetype'), url('./fonts/VAGRoundedStd-Black.svg') format('svg');
}
*{
    font-family: VagRounded, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #248784;
    /*overflow: hidden;*/
}
body{
    scrollbar-base-color: rgb(59,64,67);
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: rgb(44,49,51);
    scrollbar-arrow-color: rgb(44,49,51);
    scrollbar-shadow-color: rgb(59,64,67);
}
body > div{
    margin: 0;
    padding: 0;
}
input[type="checkbox"] {
    margin:0 10px 0 0;
}
:focus {
    outline: none;
}
::-webkit-scrollbar {
    height: .5em;
    width: .5em;
}

::-webkit-scrollbar-track {
    background-color: rgb(44,49,51);
}
::-webkit-scrollbar-corner{
    background-color: rgb(44,49,51);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(59,64,67);
}
.center{
    text-align: center;
}
.hidden{
    display: none!important;
}
.no-margin{
    margin: 0!important;
}
.no-padding{
    padding: 0!important;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.floating-panel{
    position: fixed;
}
.floating-panel.left{
    left: 0;
}
.floating-panel.right{
    right: 0;
}
.floating-panel.top{
    top: 0;
}
.floating-panel.bottom{
    bottom: 0;
}
.row:before, .row:after{
    display: table;
    content: " ";
}
.row:after{
    clear: both;
}
.column{
    float: left;
}
.column.one{
    width: 8.33%;
}
.column.two{
    width: 16.66%;
}
.column.three{
    width: 25%;
}
.column.four{
    width: 33.33%;
}
.column.five{
    width: 41.66%;
}
.column.six{
    width: 50%;
}
.column.eight{
    width: 66.66%;
}
.column.nine{
    width: 75%;
}
.canvas-container{
    position:absolute;
    top:0;
    transition: all .5s;
}
.drawing{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;
    background-color: #A0A0A0;
    z-index: 1000000;
}
.loader-container{
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*background-color: rgba(255,255,255,0.4);*/
    /*display: none;*/
    /*z-index: 100000000;*/
}
.loader-container {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -- Loading thingy --*/
.loading-dot {
    border-radius:100%;
    height:10px;
    width:10px;
    background-color: black;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    top:0;
    bottom:0;
    box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
    40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    -webkit-animation: load 3s infinite linear;
    -moz-animation: load 3s infinite linear;
    -o-animation: load 3s infinite linear;
    animation:load 3s infinite linear;
}


@-webkit-keyframes load {
    0%   {
        -webkit-transform: translate(0,0) rotate(0deg);
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }

    25%{
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        -40px -40px 0 0 black,40px 40px 0 0 black,-40px 40px 0 0 black,40px -40px 0 0 black;
    }

    50%{
        box-shadow: 0 -40px 0 0 black,0 40px 0 0 black,-40px 0 0 0 black,40px 0 0 0 black,
        -40px -40px 0 0 black,40px 40px 0 0 black,-40px 40px 0 0 black,40px -40px 0 0 black;
    }

    70%{
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
    }

    75%{
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        height:10px;
        width:10px;
    }

    80%{
        -webkit-transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:40px;
        width:40px;
    }

    85%{
        -webkit-transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:40px;
        width:40px;
    }

    90%{
        -webkit-transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:10px;
        width:10px;
    }

    95%{
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }
    
    100%{
        -webkit-transform: rotate(360deg);
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }

}

@-moz-keyframes load {
    0%   {
        -moz-transform: rotate(0deg);
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }

    25%{
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        -40px -40px 0 0 black,40px 40px 0 0 black,-40px 40px 0 0 black,40px -40px 0 0 black;
    }

    50%{
        box-shadow: 0 -40px 0 0 black,0 40px 0 0 black,-40px 0 0 0 black,40px 0 0 0 black,
        -40px -40px 0 0 black,40px 40px 0 0 black,-40px 40px 0 0 black,40px -40px 0 0 black;
    }

    70%{
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
    }

    75%{
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        height:10px;
        width:10px;
    }

    80%{
        -moz-transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:40px;
        width:40px;
    }

    85%{
        -moz-transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:40px;
        width:40px;
    }

    90%{
        -moz-transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:10px;
        width:10px;
    }

    95%{
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }
    
    100%{
        -moz-transform: rotate(360deg);
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }
}

@keyframes load {
    0%   {
        transform: translate(0px,0) rotate(0deg);
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }

    25%{
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        -40px -40px 0 0 black,40px 40px 0 0 black,-40px 40px 0 0 black,40px -40px 0 0 black;
    }

    50%{
        box-shadow: 0 -40px 0 0 black,0 40px 0 0 black,-40px 0 0 0 black,40px 0 0 0 black,
        -40px -40px 0 0 black,40px 40px 0 0 black,-40px 40px 0 0 black,40px -40px 0 0 black;
    }

    70%{
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
    }

    75%{
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        height:10px;
        width:10px;
    }

    80%{
        transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:40px;
        width:40px;
    }

    85%{
        transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:40px;
        width:40px;
    }

    90%{
        transform: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:10px;
        width:10px;
    }

    95%{
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }
    
    100%{
        transform: rotate(360deg);
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }

}
@-o-keyframes load {
    0%   {
        -o-transforms: translate(0px,0) rotate(0deg);
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }

    25%{
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        -40px -40px 0 0 black,40px 40px 0 0 black,-40px 40px 0 0 black,40px -40px 0 0 black;
    }

    50%{
        box-shadow: 0 -40px 0 0 black,0 40px 0 0 black,-40px 0 0 0 black,40px 0 0 0 black,
        -40px -40px 0 0 black,40px 40px 0 0 black,-40px 40px 0 0 black,40px -40px 0 0 black;
    }

    70%{
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
    }

    75%{
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        height:10px;
        width:10px;
    }

    80%{
        -o-transforms: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:40px;
        width:40px;
    }

    85%{
        -o-transforms: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:40px;
        width:40px;
    }

    90%{
        -o-transforms: translate(0px,0) rotate(360deg);
        box-shadow: 0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,
        0 0 0 0 black,0 0 0 0 black,0 0 0 0 black,0 0 0 0 black;
        background-color: black;
        height:10px;
        width:10px;
    }

    95%{
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }
    
    100%{
        -o-transforms: rotate(360deg);
        box-shadow: 0 40px 0 0 black,0 -40px 0 0 black,40px 0 0 0 black,-40px 0 0 0 black,
        40px 40px 0 0 black,-40px -40px 0 0 black,40px -40px 0 0 black,-40px 40px 0 0 black;
    }

}
/*button.float{*/
    /*background: linear-gradient(#ccc, #777);*/
    /*border-radius: 5px;*/
    /*border: none;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*padding: 10px;*/
    /*width: 120px;*/
    /*z-index: 10;*/
/*}*/
button:focus{
    outline: none;
}
button.checked{
    background: linear-gradient(#555, #777);
    color: white;
}
button .text{
    vertical-align: middle;
}
#c{background-color: transparent;}

.image-tooltip{
    display: none;
    position: absolute;
    height: 50%;
    min-height: 400px;
    width: 30%;
    min-width: 450px;
    top: 0;
    font-size:10px;
    padding: 0;
}
.image-tooltip.text{
    height: 36px;
    min-height: 36px;
    width: 200px;
    min-width: 200px;
    cursor: move;
    -webkit-transition: width 1s, height 1s;
    -moz-transition: width 1s, height 1s;
    -o-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}
.third-image-tooltip{
    height: 80%;
    min-height: 0;
    width: 60%;
    min-width: 0;
    display: none;
    position: absolute;
    top: 0;
    font-size:10px;
    padding: 0;
}
.third-image-tooltip#tagger-iframe{
    height: 80%;
    width: 60%;
}
.third-image-tooltip#text-from-search{
    position: fixed;
    z-index: 1000;
    transform: translateX(35%) translateY(12%);
}
.image-tooltip.text.expanded{
    height: 50%;
    min-height: 400px;
    width: 30%;
    min-width: 450px;
}
.image-tooltip.text.expanded[id*='sub-text-box-']{
    min-height: 0;
    width: 400px;
    min-width: 400px;
    transition: none;
}
.image-tooltip.text.expanded[id*='sub-text-box-'] textarea.default-textarea{
    min-height: 0;
    height: calc(100% - 22px);
    resize: none;
    overflow-y: auto;
}
.image-tooltip.text .ttip textarea{
    /*opacity: 0;*/
    position: absolute;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.image-tooltip.text.expanded .ttip textarea{
    opacity: 1;
}
.image-tooltip.text .ttip h3{
    margin: 3px 0;
    padding: 0 0 10px 0;
}
.image-tooltip-resize{
    display: block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    border-right-color: #c0ff0057;
    border-bottom-color: #c0ff0057;
    position: absolute;
    cursor: nw-resize;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.image-tooltip.text:not(.expanded) .image-tooltip-resize{
    display: none;
}
.image-tooltip.text .text-cell-buttons{
    position: absolute;
    right: -30px;
    top: 5px;
}
.image-tooltip.text .text-cell-buttons.inside{
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 10;
}
.image-tooltip.text .text-cell-buttons img{
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 5px;
    display: block;
}
.image-tooltip.text .text-cell-buttons.inside img{
    width: 8px;
    height: 8px;
}
.image-tooltip.text.expanded .text-cell-buttons{
    display: block;
}
.image-tooltip#preview-box{
    height: 75%;
    min-height: 600px;
    width: 45%;
    min-width: 675px;
}
#tagDialog.image-tooltip, #uploadDialog.image-tooltip, #settingDialog.image-tooltip{
    padding: 0 10px;
}
.image-tooltip#messageDiv{
    width: 40%;
    min-width: 0;
    height: 70%;
    min-height: 0;
}
.image-tooltip#searchTooltip{
    display: none;
    position: absolute;
    height: 30%;
    min-height: 240px;
    width: 30%;
    min-width: 450px;
    top: 0;
    font-size:10px;
    padding: 0 10px;
}
.image-tooltip#searchTooltip .tab-menu>li{
    width: 50%;
}
#searchTooltip #search-result-buttons{
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
}
#searchTooltip #search-result-buttons img{
    cursor: pointer;
}
.ttip{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow-y:auto;
    overflow-x:hidden;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 11px;
    position: relative;
    background-color: rgba(40,40,40,.8);
    border-radius: 0;
    border: none;
    font: normal 12px/2 "Abel", Helvetica, sans-serif;
    line-height:11px;
    color: #FFF;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    filter: alpha(opacity=50);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    z-index: 2;
}
.second .ttip{
    background-color: rgba(40,40,40,.2);
    height: calc(100% - 22px);
    overflow: hidden;
}
.third-image-tooltip .ttip{
    background-color: rgba(255,255,255,.8);
    color: black;
    overflow: hidden;
}
/* for Datatables */
.second .ttip .dataTables_wrapper *{
    color: white;
}
.second .ttip .dataTables_wrapper input, .second .ttip .dataTables_wrapper select{
    background-color: transparent;
    border: solid 1px gray;
}
.second .ttip .dataTables_wrapper option{
    background-color: rgba(0,0,0,0.5);
}
.second .ttip .dataTables_wrapper input::placeholder{
    color: white;
    font-style: italic;
}
.second .ttip .dataTables_wrapper td.hover-td{
    white-space: normal;
}

.text.expanded .ttip{
    overflow: auto;
}
.ttip h3{
    border-bottom: solid 1px rgb(108,158,222);
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 5px;
}
.ttip h3.white{
    border-color: white;
}
.ttip a{color: red;text-decoration: none;font-weight: bold;}
.ttip a.tag{color: black;}
.ttip a.tag:hover,.ttip a.tag.active{color: white;}
.ttip #button-pane{
    padding: 10px;
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 90%;
}
.ttip #button-pane button, .normal-btn{
    /*background-color: rgb(92,183,92);*/
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    /*border: none;*/
    border: solid 1px white;
    /*border-radius: 5px;*/
    border-radius: 2em;
    font-size: 1em;
    font-weight: bold;
    /*width: 80px;*/
}
.ttip #button-pane button, .normal-btn.right{
    margin-left: calc(100% - 80px);
}
.normal-btn.disabled{
    cursor: no-drop;
    background-color: #8a8a8a;
}
.circle-btn{
    border: solid 2px white;
    border-radius: 50%;
    background: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
}
.ttip #button-pane #ttip-exit{
    display: none;
}
.ttip #documents{
    height: 95%;
}
.float-tooltip{
    display: none;
    position: absolute;
    background-color: rgba(255,100,100,.5);
    padding: 10px;
    border: solid 1px rgb(255,100,100);
    border-radius: 10px;
}
.tab-menu{
    list-style: none;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    margin: 0;
    padding: 0;
    display: flex;
}
.bottom.tab-menu>li{
    display:none;
}
.bottom.tab-menu>li.enable{
    display:block;
}
.tab-menu>li{
    min-width: 75px;
    z-index: 1;
}
.tab-menu>li>a{
    background-color: rgba(40,40,40,.8);
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 5px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: center;
}
.tab-menu>li.active>a{
    cursor: default;
    background-color: rgba(21,45,65,.8);
    border-bottom-color: transparent;
}
.tab-pane{
    display:none;
    height: 100%;
}
.tab-pane.active{
    display: block;
}
textarea.temp-textarea{
    color: white;
    height: 90%;
    width: calc(100% - 20px);
    font-size: 1em;
    line-height: 11px;
    border: solid 1px rgb(108,158,222);
    background: transparent;
    overflow: hidden;
}

.dialog{
    background-color: rgba(45,48,53,.8);
    color: #aaa;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100000;
    display: none;
}
.dialog-body{
    background-color: rgb(34,37,42);
    border-radius: 10px;
    width: 300px;
    margin: 10% auto;
}
.dialog-header{
    background-color: rgb(69,73,85);
    border-radius: 10px 10px 0 0;
    font-size: 1em;
    padding: 10px;
}
.dialog-content{
    padding: 30px 20px;
}
.dialog-footer{
    border-top: dashed 1px rgb(69,73,85);
    padding: 20px;
    text-align: right;
}
.dialog-footer button{
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}
.dialog-footer button.dialog-close{
    background-color: rgb(69,73,85);
}
.dialog-footer button.confirm{
    background-color: rgb(47,158,214);
}
.form-group{
    margin-bottom: 10px;
}
.form-group.ext-info{
    display: none;
}
.form-control{
    margin: 10px 0;
    width: 100%;
}
input.form-control,select.form-control,textarea.form-control{
    color: #aaa;
    padding: 10px 0;
    border-radius: 5px;
    background-color: rgb(69,73,85);
    font-size: 12px;
    line-height: 11px;
    border: none;
    overflow: hidden;
}
textarea.form-control[readonly]{
    resize: none;
}
.form-group.width-half{
    width: 50%;
    display: inline-block;
}
.form-control.width-half{
    padding: 10px 0;
    width: calc(50% - 15px);
    display: inline-block;
}
textarea.form-control, input.form-control{
    background: transparent;
    color: white;
}
textarea.form-control{
    margin: 0;
    width: 100%;
}
.ui-menu {
    width: 220px;
}
/* Allow to use <kbd> elements inside the title to define shortcut hints. */
.ui-menu kbd {
    padding-left: 1em;
    float: right;
}

/* Define a custom icon */
.ui-icon.custom-icon-group {
    background-image: url('../images/icons/object-group-40.png')!important;
    background-size: 16px;
}
.ui-icon.custom-icon-ungroup {
    background-image: url('../images/icons/object-ungroup-40.png')!important;
    background-size: 16px;
}

#background-image{
    position: fixed;
    left: 0;
    top: 0;
    height: 200%;
    width: 200%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: none;
}
/* Progress Bar */
.progress {
    background: rgba(255, 255, 255, 0.08) none repeat scroll 0% 0%;
    border: medium none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    position: relative;
    display: block;
    max-width: 100%;
    margin: 1em 0 .5em;
    box-shadow: none;
    padding: 0;
    border-radius: 0.285714rem;
}
#bar {
    background: red none repeat scroll 0% 0%;
    color: rgba(255, 255, 255, 0.9);
    height: .5em;
    display: block;
    line-height: 1;
    position: relative;
    max-width: 100%;
    border-radius: 0.285714rem;
    transition: width 0.1s ease 0s, background-color 0.1s ease 0s;
}
button.progress-btn{
    border: none;
    background: lightgray;
    color: red;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
button#progress-minus-btn{
    margin-left: calc(100% - 60px);
}
button#progress-plus-btn{
    margin-left: 10px;
}
#checklist {
    margin-top: 20px;
}
#checklist-labels .row{
    padding: 0 10px;
}
#checklist-labels input{
    color: white;
    width: 50%;
    background: none;
    border: none;
    vertical-align: top;
}
#checklist-labels .padding{
    padding: 4px 0 13px 0;
}
#checklist-labels .remove-checklist{
    /*margin-right: 20px;*/
    cursor: pointer;
}
#checklist-labels .ui-datepicker-trigger{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.suggest-list{
    background-color: rgba(0,0,0,.2);
    color: white;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.suggest-list li{
    margin: 0;
    padding: 5px 30px 5px 0;
    cursor: pointer;
    border-bottom: solid 1px gray;
    font-family: brandon,Helvetica,sans-serif;
}
.suggest-list li:first-child{
    border-top: solid 1px gray;
}
.suggest-list li:hover, .suggest-list li:hover > p{
    /*background-color:#3875d7;*/
    color: rgb(232,212,175);
}
.suggest-list li p{
    margin: 0;
    white-space: nowrap;
    font-family: brandon, helvetica, arial, sans-serif;
}
.suggest-list li .regex-search-head{
    font-size: 1.1em;
}
.suggest-list li .regex-search-tagline{
    color: #aaa;
    font-size: .9em;
}
#checklist .suggest-list{
    background-color: rgba(18,18,18,.7);
    width: 50%;
}
.regex-search-box{
    background: none;
    border:none;
    position: absolute;
}
.regex-search-box .regex-search-buttons{
    display: inline-grid;
    position: absolute;
    left: -10px;
    top: 25px;
}
.regex-search-box .regex-search-buttons > * {
    cursor: pointer;
    color: white;
}
.regex-search-box .regex-search-inputs > input{
    font-family: SanFrancisco, Helvetica, sans-serif;
    background: none;
    border: none;
    color: white;
    min-width: 300px;
}
.regex-search-box .regex-search-inputs .regex-search-input{
    font-size: 45px;
}
.regex-search-box .regex-search-inputs hr{
    margin: 0;
}
.regex-search-box .regex-search-inputs .regex-search-input-negative {
    font-size: 15px;
    width: 100%;
    text-decoration: line-through;
}
.regex-search-box .suggest-list{
    transform: scaleX(-1);
    min-width: 20em;
    margin: 0 0 0 -5px;
}
.regex-search-box .suggest-list li{
    transform: scaleX(-1);
    padding-left: 5px;
}
#json-object{
    min-height: 210px;
    overflow-y: scroll;
    resize: none;
    margin-bottom: 20px;
}
#new-object-btn{
    width: 100px;
    margin-left: calc(100% - 220px);
}
#add-object-btn{
    width: 100px;
    margin-left: 10px;
}
#documents #document-list{
    height: 90%;
    list-style: none;
}
#documents #document-list li{
    margin: 10px 0;
}
#documents #document-list img{
    vertical-align: middle;
    margin-right: 15px;
}
#documents img#idea-img{
    cursor: pointer;
}
.tags {
    list-style: none;
    margin: 20px 0 0 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    position: relative;
    margin: 0 20px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: transparent;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
}

.tag:hover, .tag.active {
    background-color: rgba(21,45,65,.8);
    color: white;
}

.tag:hover::after, .tag.active::after {
    border-left-color: rgb(21,45,65);
}
#dot-tooltip{
    position: absolute;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
}
#notification{
    position: fixed;
    z-index: 10000;
    top: 50px;
    width: 100%;
    display: none;
}
#message, #new-element-content{
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    background: white;
    border-radius: 5px;
}
#new-element-content{
    background-color: transparent;
}
#view-list{
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
}
#view-list p{
    margin: 5px 0;
    padding: 10px;
}
#view-list p.active{
    background-color: green;
}
#tags-list, #label-list, #auto-suggest {
    margin: 0;
    width: 100%;
    background: transparent;
    border: none;
    color: white;
}
#callback{
    min-height: 210px;
    overflow-y: scroll;
    resize: none;
    margin-bottom: 20px;
}
#add-callback-btn, #load-callback-btn{
    width: 100px;
}
#run-callback-btn{
    opacity: 0;
}
#sql-setting-tab .column:first-child{
    padding: 11px 0;
}
span#ungroup-all{
    color: blue;
    cursor: pointer;
}
#new-element-div{
    position: absolute;
    z-index: 10000;
    display: none;
}
#new-element-name{
    width: 280px;
    padding: 5px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border: solid 1px lightgray;
}
input#shape-heading{
    color: white;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    line-height: 11px;
    border: none;
    background: transparent;
    overflow: hidden;
}
textarea.default-textarea{
    color: white;
    height: calc(100% - 100px);
    min-height: 250px;
    width: calc(100% - 20px);
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
    border: none;
    background: transparent;
    overflow: auto;
}
#trash-panel,#move-panel{
    display:none;
}
.temp-input,.permanent-input,#temp-moving-input{
    width: 200px;
    padding: 5px;
}
.temp-input,#temp-moving-input{
    cursor: pointer;
}
.temp-input.target{
    display:none;
}
#temp-moving-input{
    z-index: 3;
}
.remove-dragged-input{
    position: absolute;
    right: 5px;
    cursor: pointer;
}
#cluster-list{
    list-style: none;
}
#cluster-list > li{
    padding: 10px 0;
    cursor: pointer;
}
#preview-box {
    background-color: white;
}
#preview-box #preview-images-container{
    height: calc(100% - 25px);
    overflow-y: scroll;
    border-bottom: solid 1px gray;
}
#preview-box #preview-images-container img{
    width: 100%;
}
#preview-box #pagination{
    background-color: #333;
    display: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    height: 25px;
}
#preview-box #pagination #current-preview-image{
    width: 15px;
    padding-left: 5px;
    margin-left: 10px;
    background-color: rgb(21,21,21);
    border: solid 1px gray;
    color: white;
}
#preview-box #pagination img{
    vertical-align: middle;
    cursor: pointer;
}
#preview-box #pagination span{
    vertical-align: middle;
}

#top-sidebar{
    position: fixed;
    top: -150px;
    width: 100%;
    height: 150px;
    background-color: rgba(0,0,0,.7);
    color: white;
    z-index: 50;
}
#top-sidebar #topbar-notification{
    width: 60%;
    margin: 0 auto;
}
#top-sidebar #close-top-sidebar{
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 50px;
    border-radius: 5px;
}
#left-sidebar{
    width: 44px;
    height: 100%;
    position: fixed;
    left: -50px;
    top: 0;
    padding: 0;
    background-color: #202020;
    transform: scaleY(-1);
    z-index: 1001;
}
#right-sidebar{
    width: 44px;
    padding: 0;
    height: 100%;
    position: fixed;
    right: -50px;
    top: 0;
    background-color: #202020;
    z-index: 1001;
}
.icon-button{
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 10px;
}
.icon-button:hover{
    background-color: #333333;
}
#left-sidebar .icon-button{
    display: block;
    transform: scaleY(-1);
    position: relative;
}
#left-sidebar .icon-button#back-button{
    position: absolute;
    bottom: 5px;
}
#left-sidebar .icon-button.child{
    display: none;
    width: 20px;
    height: 20px;
    left: 4px;
}
#iframe-panel{
    background-color: rgba(30,30,30,.7);
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 300px;
    z-index: 1000;
    text-align: center;
    display: none;
}
#iframe-panel iframe{
    margin-top: 100px;
    width: 50%;
    height: 300px;
    border: none;
}
#iframe-panel .close-iframe{
    color: white;
    position: absolute;
    top: 100px;
    margin-left: 10px;
    cursor: pointer;
}
#iframe-draggable{
    position: fixed;
    z-index: 1000;
    display: none;
    width: 50%;
    height: 300px;
    top: 100px;
}
#iframe-draggable #iframe-title-bar{
    background: rgb(68,75,83);
    border-bottom: solid 1px gray;
    color: white;
    width: 98%;
    padding: 10px 0;
    cursor: move;
}
#iframe-draggable iframe{
    height: 100%;
    width: 98%;
    border: none;
}
#iframe-draggable .close-iframe{
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
#calendar-iframe, #integration-iframe, #timeline-iframe{
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    display: none;
}
#calendar-iframe iframe, #integration-iframe iframe, #timeline-iframe iframe{
    width: 100%;
    height: 100%;
    border: none;
}
#calendar-iframe .close-iframe, #integration-iframe .close-iframe, #timeline-iframe .close-iframe{
    background-color: black;
    padding: 10px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#calendar-iframe #rotate-calendar{
    position: absolute;
    top: 50px;
    right: 5px;
    cursor: pointer;
}
#tagger-iframe {
    display: none;
    position: absolute;
    height: 50%;
    min-height: 400px;
    width: 60%;
    min-width: 900px;
    top: 0;
    left: 0;
    font-size:10px;
}
#tagger-iframe .ttip{
    overflow: hidden;
}
#tagger-iframe .tagger-iframe-btns{
    color: white;
    position: absolute;
    top: 0;
    right: -1em;
    font-size: 3em;
    margin-left: 10px;
}
#tagger-iframe .tagger-iframe-btns span{
    cursor: pointer;
    display: block;
    text-align: center;
}
#tagger-iframe iframe{
    height: 100%;
    width: 100%;
    border: none;
}
.thumbnail-iframe {
    position: absolute;
    border: none;
}
.eml-data-iframe{
    background: white;
    min-width: 600px;
}
.eml-canvas-container{
    background-color: white;
    position: absolute!important;
    overflow: auto;
    height: 400px;
}
/* Contact Div */
#contactDiv, #messageDiv{
    position: fixed;
}
#contactDiv{
    left: 300px;
    top: 150px;
}
.people-list{
    background-color: transparent;
    font-family: brandon, helvetica, arial, sans-serif;
    color: white;
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
}
.people-list li{
    margin: 0;
    padding: 5px 30px 5px 0;
    cursor: pointer;
    border-bottom: solid 1px gray;
}
.people-list li:first-child{
    border-top: solid 1px gray;
}
.people-list li p, .people-list li span {
    font-family: brandon, helvetica, arial, sans-serif;
}
.people-list li p{
    margin: 5px 0;
    line-height: 1.2em;
    white-space: nowrap;
}
.people-list li p:hover, .people-list li span:hover{
    /*background-color:#3875d7;*/
    color: rgb(232,212,175);
}
.people-list li .contact-person-email img{
    height: 16px;
    float: right;
}
.people-list li .contact-person-name{
    color: #aaa;
    font-size: .8em;
}
.people-list li .contact-person-slack{
    float: right;
    color: #aaa;
    font-size: .8em;
}
#messageDiv #message-content{
    height: 100%;
}
#messageDiv #message-date{
    text-align: right;
}
#messageDiv #message-send-btn{
    position: absolute;
    bottom: 10px;
}
#messageDiv #message-body{
    height: calc(100% - 224px);
}
#messageDiv #message-bcc-check{
    height: 26px;
    vertical-align: middle;
}

.image-tooltip#json-url-tooltip{
    right: 50px;
    top: 200px;
    padding: 0;
    position: fixed;
}

/* Custom Accordion */
.image-tooltip#custom-accordion-div{
    right: 50px;
    padding: 0;
    position: fixed;
    overflow: hidden;
    transition: all 0.5s;
    -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 3px 3px;
}
.custom-accordion-control-panel{
    height: 34px;
    box-shadow: 0 0 5px;
}
.custom-accordion-data-panel{
    font-size: 12px;
    height: calc(100% - 34px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
.custom-accordion-add-btn, .custom-accordion-scroll-up-btn, .custom-accordion-scroll-down-btn{
    margin: 5px;
    background: none;
    cursor: pointer;
}
.custom-accordion-header, .custom-accordion-content{
    text-align: left;
    color: #f0f0f0;
    text-shadow: 0 1px 1px black;
    width: inherit;
    font-weight: bold;
}
.custom-accordion-header{
    margin: 0;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(25, 25, 25, 0.3);
    padding: 12px;
    cursor: pointer;
    font-size: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(160, 160, 160, 0.2)));
    background-image: -moz-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
    background-image: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.custom-accordion-header:hover{
    text-shadow: 0 1px 1px black, 0 0 4px white;
}
.custom-accordion-header:after{
    display: block;
    content: "▾";
    right: 20px;
    position: absolute;
    margin-top: -12px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.custom-accordion-header.status-open:after{
    margin-top: -12px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.custom-accordion-header.status-remove{
    opacity: 0;
    height: 0;
    padding: 0;
    border: 0;
}
.custom-accordion-header .custom-accordion-title-text{
    background-color: transparent;
    font-size: 1em;
    color: white;
    border: solid 1px gray;
}
.custom-accordion-header .custom-accordion-remove-btn{
    position: absolute;
    right: 40px;
}
.custom-accordion-header .custom-accordion-remove-btn:hover{
    color: red;
}
.custom-accordion-content .custom-accordion-text, .custom-accordion-content img{
    display: none;
}
.custom-accordion-content{
    height: 0;
    width: 100%;
    opacity: 0;
    padding: 0;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.custom-accordion-content.status-open{
    opacity: 1;
    height: 400px;
    padding: 12px;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(160, 160, 160, 0.2)));
    background-image: -moz-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
    background-image: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
}
.custom-accordion-content.status-open .custom-accordion-text, .custom-accordion-content.status-open img{
    display: inline-block;
}
.custom-accordion-content.status-remove {
    height: 0;
    width: 100%;
    opacity: 0;
    padding: 0;
}

/* file upload */
.fileupload-buttons{
    padding: 20px 0;
    border-bottom: solid 1px white;
}
.fileupload-buttons .upload-button{
    color: #ffffff;
    cursor: pointer;
    margin: 0 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.fileupload-buttons .upload-plus{
    background-image: url(../images/icons/plus-outline-24.png);
    background-size: 16px;
}
.fileupload-buttons .upload-start{
    background-image: url(../images/icons/play-24.png);
    background-size: 16px;
}
.fileupload-buttons .upload-cancel{
    background-image: url(../images/icons/cancel-24.png);
    background-size: 16px;
}
.fileupload-buttons table{
    width: 100%;
}
#fileupload.fileupload-buttons .file-date{
    color: gray;
}
.fileupload-progress {
    margin: 10px 0;
}
.fileupload-progress .progress-extended {
    margin-top: 5px;
}
.fileupload-progress .ui-progressbar-value, #fileupload table .ui-progressbar-value{
    /*background: url('lib/images/progressbar.gif');*/
    background: #4ca20b;
}
#fileupload .template-upload td:first-child{
    width: 20%;
}
#fileupload .template-upload td:nth-child(2){
    width: 50%;
}
#fileupload .ui-progressbar{
    height: 1em;
}
#fileupload a{
    color: lightgray;
}
.error {
    color: red;
}
#dropzone {
    background: palegreen;
    width: 100%;
    margin-top: 30px;
    opacity: .5;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    display: none;
}
#dropzone.in {
    display: block;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/* end file upload */

#always-visible-menu{
    z-index: 10000;
    position: fixed;
    left: 50%;
    top: 150px;
    color: white;
    transform: translateX(-50%);
}

#ring-tags, #tagger-files, #tagger-apps, #tagger-json-apps{
    width: 100px;
    margin: 0 50px;
    background-color: #191919;
    color: white;
    border-color: #191919;
    font-size: 12px;
    border-radius: 3px;
    position: absolute;
    display: none;
}
#tagger-files{
    bottom: 120px;
}

#tagger-json-apps{
    bottom: 90px;
}

#tagger-apps{
    bottom: 50px;
}

#ring-tween-btn{
    position: absolute;
    cursor: pointer;
    transform: translateX(-50%) translateY(-50%);
}

.bezier-line-control-btn{
    cursor: pointer;
}

#json-object-button-div{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 200%;
    display: none;
}

#json-object-button-div img{
    width: 32px;
}

#json-object-button-container{
    margin: 0 auto;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    text-align: center;
}

.text-cell-group{
    position: absolute;
    left: 0;
    top: 0;
    /*width: 200%;*/
    /*height: 200%;*/
    /*width: 500px;*/
    /*height: 400px;*/
    /*margin: 0 auto;*/
    overflow: scroll;
    /*border: solid 1px;*/
    background: rgba(0,0,0,0.2);
    /*pointer-events: none;*/
}
.text-cell-group * {
    pointer-events: auto;
}
.text-cell-group .text-cell-buttons{
    position: absolute;
    top: 50px;
    right: 50px;
}
.text-cell-group .text-cell-buttons img{
    width: 16px;
    cursor: pointer;
    display: block;
    margin: 5px 0;
}