@font-face {
    font-family: VagRounded;
    src: url('./fonts/VAGRoundedStd-Black.eot');
    src: url('./fonts/VAGRoundedStd-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/VAGRoundedStd-Black.woff') format('woff'), url('./fonts/VAGRoundedStd-Black.ttf') format('truetype'), url('./fonts/VAGRoundedStd-Black.svg') format('svg');
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
}