@font-face
{
    font-family: SanFrancisco;
    src: url('./fonts/SF-UI-Display-Ultralight.eot');
    src: url('./fonts/SF-UI-Display-Ultralight.eot?#iefix') format('embedded-opentype'), url('./fonts/SF-UI-Display-Ultralight.woff') format('woff'), url('./fonts/SF-UI-Display-Ultralight.ttf') format('truetype'), url('./fonts/SF-UI-Display-Ultralight.svg') format('svg');
}
@font-face {
    font-family: VagRounded;
    src: url('./fonts/VAGRoundedStd-Black.eot');
    src: url('./fonts/VAGRoundedStd-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/VAGRoundedStd-Black.woff') format('woff'), url('./fonts/VAGRoundedStd-Black.ttf') format('truetype'), url('./fonts/VAGRoundedStd-Black.svg') format('svg');
}
:active{
    outline: none;
}
.boundary-layout{
    width: calc(100% - 60px);
    height: calc(100% - 20px);
    min-width: 100px;
    min-height: 150px;
    margin: 10px auto;
    position: relative;
}
.boundary-layout.boundary-layout-content{
    min-width: 50px;
}
.inner-boundary-layout{
    width: calc(100% - 60px);
    height: calc(100% - 20px);
    min-width: 130px;
    min-height: 150px;
    margin: 10px auto;
    position: relative;
}
.boundary-layout .top-boundary,.boundary-layout .left-boundary,.boundary-layout .right-boundary,.boundary-layout .bottom-boundary{
    font-family: VagRounded, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
	word-wrap: break-word;
    overflow: hidden;
}
.boundary-layout .inner-top-boundary,.boundary-layout .inner-left-boundary,.boundary-layout .inner-right-boundary,.boundary-layout .inner-bottom-boundary{
    font-family: SanFrancisco, Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
}
.boundary-layout [class*='-boundary']{
    text-align: justify;
    text-align-last: justify;
}
.left-boundary, .inner-left-boundary{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    width: 10px;
    float: left;
    margin-left:1.5em;
}
.boundary-layout-content, .inner-boundary-layout-content{
    font-family: SanFrancisco, Helvetica, sans-serif;
    font-size: 30px;
    float: left;
    width: calc(100% - 84px);
    height: calc(100% - 112px);
    overflow: hidden;
    margin: 0 42px;
}
.right-boundary, .inner-right-boundary{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    float: right;
    width: 10px;
    margin-right: 1.5em;
}
.top-boundary, .bottom-boundary, .inner-top-boundary, .inner-bottom-boundary{
    width: 99%;
    float: left;
}