@font-face {
    font-family: SanFrancisco;
    src: url('./fonts/SF-UI-Display-Ultralight.eot');
    src: url('./fonts/SF-UI-Display-Ultralight.eot?#iefix') format('embedded-opentype'), url('./fonts/SF-UI-Display-Ultralight.woff') format('woff'), url('./fonts/SF-UI-Display-Ultralight.ttf') format('truetype'), url('./fonts/SF-UI-Display-Ultralight.svg') format('svg');
}
*{
    font-family: SanFrancisco, Helvetica, sans-serif;
    font-weight: bold;
}
html, body, .playground{
    height: 100%;
    overflow: hidden;
}
.playground{
    overflow:hidden;
    margin: 0 100px;
}
.tagger-icons-container{
    background-color: rgba(40,40,40,.8);
    color: white;
    height: 24px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    display: none;
    z-index: 100000;
}
.tagger-icon{
    width: 24px;
    height: 24px;
    margin: 0 5px;
    cursor: pointer;
}
#tagger-keyword-div{
    position: absolute;
    width: 230px;
    display: none;
}
#tagger-keyword-div #tagger-keyword-select{
    padding: 5px 10px;
    width: 130px;
    margin: 0 10px;
    background-color: rgba(40,40,40,.8);
    color: white;
    border-radius: 5px;
}
.tagger-highlight-text{
    background: rgba(255,255,255,.5);
    color: black;
    border-radius: 3px;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.5em;
    visibility: visible;
}
.tagger-highlight-text:hover > .tagger-highlight-keyword{
    display: inline;
}
.tagger-highlight-keyword{
    position: absolute;
    display: none;
    cursor: pointer;
    width: 100px;
    margin-left: -100px;
}
.tagger-highlight-keyword.selected{
    color: gray;
    display: inline;
    text-shadow: -3px 3px 10px #4777fb;
}
.tagger-highlight-keyword:hover{
    display: inline;
}
.btn{
    background-color: rgb(92,183,92);
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    width: 80px;
}