@font-face {
    font-family: SanFrancisco;
    src: url('./fonts/SF-UI-Display-Ultralight.eot');
    src: url('./fonts/SF-UI-Display-Ultralight.eot?#iefix') format('embedded-opentype'), url('./fonts/SF-UI-Display-Ultralight.woff') format('woff'), url('./fonts/SF-UI-Display-Ultralight.ttf') format('truetype'), url('./fonts/SF-UI-Display-Ultralight.svg') format('svg');
}
*{
    font-family: SanFrancisco, Helvetica, sans-serif;
    font-weight: bold;
}
:focus{
    outline: none;
}
html, body, .playground{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
input {
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    border: solid 1px gray;
    background-color: rgba(40,40,40,.8);
    color: white;
}
.playground{
    overflow:hidden;
    height: 75%;
}
.playground:before, .playground:after{
    display: table;
    content: " ";
}
.playground:after{
    clear: both;
}
.tagger-keyword-left-panel, .tagger-keyword-right-panel{
    width: 15%;
    height: 100%;
    float: left;
    display: block;
}
.tagger-container{
    color: white;
    line-height: 1.5em;
    height: 100%;
    width: 70%;
    float: left;
}
.tagger-icons-container{
    color: white;
    height: 10%;
    min-height: 34px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    z-index: 100000;
}
.tagger-icon{
    background-color: rgba(40,40,40,.8);
    width: 24px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
}
#tagger-keyword-div{
    display: none;
    position: absolute;
}
#tagger-keyword-div #tagger-keyword-select{
    padding: 5px 10px;
    background-color: rgba(40,40,40,.8);
    color: white;
    border-radius: 5px;
}
#tagger-keyword-div #tagger-unhighlight-btn{
    margin-left: 10px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.tagger-highlight-text{
    background: rgba(255,255,255,.5);
    color: black;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.5em;
    visibility: visible;
}
.tagger-highlight-keyword{
    display: none;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(140,158,140,.8);
    border-radius: 5px;
    font-size: 12px;
    width: 70%;
}
.tagger-highlight-keyword.selected{
    color: white;
    display: inline;
    text-shadow: -3px 3px 10px #4777fb;
}
.btn{
    background-color: rgb(92,183,92);
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    margin: 0 0 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    width: 80px;
}
.image-btn{
    vertical-align: top;
    cursor: pointer;
}
.tagger-button-panel{
    text-align: center;
}