@font-face {
    font-family: VagRounded;
    src: url('../fonts/VAGRoundedStd-Black.eot');
    src: url('../fonts/VAGRoundedStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/VAGRoundedStd-Black.woff') format('woff'), url('../fonts/VAGRoundedStd-Black.ttf') format('truetype'), url('../fonts/VAGRoundedStd-Black.svg') format('svg');
}
*{
    font-family: VagRounded, Helvetica, sans-serif;
    outline: none;
}
:active{
    outline: none;
}
body{
    border: solid 1px gray;
    width: 700px;
    height: 500px;
    padding: 50px;
    margin: 0 auto;
    overflow-x: hidden;
}
.boundary-layout{
    min-width: 150px;
    min-height: 150px;
    margin: 0 auto;
    position: relative;
}
.boundary-layout .top-boundary,.boundary-layout .left-boundary,.boundary-layout .right-boundary,.boundary-layout .bottom-boundary{
	word-wrap: break-word;
}
.left-boundary{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    width: 10px;
    float: left;
}
.boundary-layout-content{
    padding: 20px;
    float: left;
    width: calc(100% - 60px);
    height: calc(100% - 80px);
    overflow: hidden;
}
.right-boundary{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    float: right;
    width: 10px;
}
.top-boundary, .bottom-boundary{
    width: 100%;
    float: left;
}