.default {
    background-color: #248784;
}
.fresh-and-vermillon {
    background-color: #4ABDAC;
}
.tangerine-and-teal {
    background-color: #07889B;
}
.dusty-and-lavendar {
    background-color: #6D7993;
}
.powder-and-peach {
    background-color: #BFd8d2;
}
.storm-and-cloud {
    background-color: #98878F;
}
.evening-and-sunset {
    background-color: #192231;
}
.clown-and-bright {
    background-color: #02c8a7;
}
.blueberry-and-apricot {
    background-color: #6B7A8F;
}
.denim-and-gold {
    background-color: #1A2930;
}
.smoke-and-blush {
    background-color: #6E7376;
}
.cotton-and-healing {
    background-color: #4ABdAC;
}
.watermelon-and-blackberry {
    background-color: #414141;
}
.lagoon-and-beach {
    background-color: #EAb126;
}
.petal-and-shrub {
    background-color: #D48Cf8;
}
.coral-and-romance {
    background-color: #3F3250;
}
.cucumber-and-kiwi {
    background-color: #1E392A;
}
.eggplant-and-grape {
    background-color: #49274A;
}
.apricot-and-citrus {
    background-color: #F7882F;
}
.sailor-and-coral {
    background-color: #0F1626;
}
.marine-and-sky {
    background-color: #031424;
}
.indigo-and-crimson {
    background-color: #30415D;
}
.joker {
    background-color: #6E3667;
}
.dark-joker {
    background-color: #1A0315;
}
.ice-and-water {
    background-color: #88BBD6;
}
.honey-and-cerulean {
    background-color: #00303F;
}
.sunshine-and-ocean {
    background-color: #52658F;
}

